.headerLayout{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;

    height: 80px;
    width: 100%;

    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    
    position: relative;
    z-index: 1;
    padding: 0 40px;
    justify-content: space-between;
}

.logoWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}