.pageLayout {
    height: 100vh;

    display: flex;
    flex-direction: column  ;

    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Red Hat Display';
    background-color: #FFFFFF;
}

.dark_theme {
    background-color: #000000;
    color: #FFFFFF;
}

.headerWrapper {
    width: 100%;
}

.pageWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.pageWrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.pageContentWrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
}
